.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  height: 108vh;
}

.divider {
  border: 2px solid #d2d2d2;
  width: 100vh;
  margin-bottom: 100px;
  margin-top: 80px;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 180px;
  text-align: center;
  color: #d7d7d7;
}
